/* .body{
    min-height: 100vh;
} */

.allProject-navbar{
    background-color: rgb(94, 76, 130);
    padding: 10px 8px;
    color: black;
    position: relative;
    /* top: 0; */
}
.allProject-navbar .nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.nav-tittle{
    margin: 0;
    font-style: inherit;
    color: #fff;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.allProject{
    min-height:94.5vh;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    /* font-size: 1em; */
    text-size-adjust: auto;
}
.project_links{
    text-decoration: none;
    color: rgb(247, 255, 171);
    
}
.project_links:hover{
    /* color: rgb(184, 211, 33); */
    background: linear-gradient(to left,
                    violet,
                    rgb(222, 190, 245),
                    rgb(203, 203, 252),
                    rgb(183, 227, 229),
                    rgb(252, 158, 158));
    -webkit-background-clip: text;
    color: transparent;
}

.close-button{
    color: #fff;
}