.Navbar{
    color: #fff;
}
.Navbar-name{
    color: #fff;
}
.nav-link{
    color: #c5c2c2;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-link:hover{
    color: rgb(48, 48, 235);
}
.nav-all-link{
    align-items: start;
}
.me-auto{
    display: flex;
    justify-content: space-around;
    padding-left: 25px;
    width: 100%;
    
}
