.contact-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px  5px;
}
/* .footer-left{
width: 15%;
} */
.footer-center{
    align-content: center;
    width: 70%;
    height: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-center p{
    font-size: small;
}
.footer-right{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}
.footer-link{
    width: 35px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 2px;
    background-image: linear-gradient(to right bottom, rgba(2, 200, 255, 0.793) , rgb(87, 25, 186));
    border-radius: 8px;
    margin-right: 5px;
    color: #fff;

}
.footer-link:hover{
    background-image: linear-gradient(to right bottom, rgba(2, 200, 255, 0.416) , rgba(87, 25, 186, 0.359));

}
@media screen and (max-width:400px) {
    .contact-footer{
        font-size: .55rem;
    }
    .footer-link{
        width: 100%;
        height: auto;
        padding: 6px;
    }
    .footer-tittle{
        font-size: 1rem
    }
    .contact-footer p{
        font-size: 0.59rem;
    }
    
}