#experience{
    padding: 8px;
}
.tittle{
    padding: 10px 0px;
}
.content{
    width: 100%;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    box-sizing: border-box;
}
.skill-{
    min-width: 25%;
    min-height: 150px;
    padding: 15px;
    align-items: center;
    text-decoration: none;
    
    
}
.skill- img{
    padding-bottom: 11px;
    padding: 0px ;
    max-width: 5rem;
    height: 5rem;
}
.skill-name{
    padding: 12px 1px;
    margin: 0;
    color: rgb(145, 143, 143);
}
@media screen  and (max-width:464px){
    .skill-{
        width: 50%;
        padding: 0;
    }
    .skill- h5 { 
        font-size: 1.2rem;
    }
    .skill- img{
        max-width: 4.5rem;
        padding: 4px;
    }
    
}